
.layout-wrapper {
    /* กำหนดสไตล์ wrapper เพื่อให้ง่ายต่อการสลับตำแหน่ง */
}

.layout-wrapper.layout-down .shape-grid {
    /* ตัวอย่างการสลับ Grid ลง */
    transform: translateY(100px); 
}
.layout-wrapper.layout-up .shape-grid {
    /* ตัวอย่างตำแหน่งปกติ */
    transform: translateY(0px); 
}

.shape-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  transition: transform 0.4s ease;
  align-items: center;

}

.shape-grid.move-up {
  transform: translateY(0px);
}

.shape-grid.move-down {
  transform: translateY(60px);
}

.shape {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.circle {
   width: 80px;
  height: 80px;
  background: #FFA200;
  border-radius: 50%;
}

.square {
  background: #6EDA78;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #FFA200;
}


.oval {
  width: 100px;       // ปรับขนาดให้ยาวตามแนวนอน
  height: 50px;
  background: #6EDA78;
  border-radius: 50%;
}

/* Trapezoid */
.trapezoid {
  width: 100px;          /* ความกว้างด้านบน */
  height: 0;
  border-bottom: 60px solid #FFA200; /* ความสูง + สี */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* Rectangle */
.rectangle {
  width: 100px;
  height: 60px;
  background: #6EDA78;
}

/* Parallelogram */
.parallelogram {
 width: 100px;
  height: 60px;
  background-color: #2ecc71;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
